.shadows{box-shadow: 1px 5px 7px #222;}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  background: transparent;
  border-radius: 10px;
}



table.dataTable thead th, table.dataTable thead td{
  border-bottom: 1px solid #f1f1f1!important;
}
div.dataTables_scrollBody table{
  margin-bottom: 30px!important;
  border-bottom:1px solid #f1f1f1!important;

}
table.dataTable tbody tr:last-child{
  border-bottom:1px solid #f1f1f1!important;
}
div.dataTables_wrapper div.dataTables_processing {
  padding: 5px!important;
  text-align: center!important;
  background: #4e73df!important;
  color:#fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0px!important;
}



.border-bottom-primary, .border-primary{
  border-color:linear-gradient(344deg, #2AF598 5%, #224abe 62%);

}
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #bd9010;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bd9010;
}

.select2-selection {
  min-height:37px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li:not(:last-child){
  word-break: break-all!important;
  max-width: 100%;
  white-space:normal;
  background: #fff;
  border: none;
  border-bottom:1px solid #4e73df;
  color:#222;
  float: left;
  border-radius: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.select2-selection__choice__remove{
  background: #e74a3b;
  color:#fff!important;
  height: 25px;
  width: 25px;
  padding-left: 8px;
  margin-right: 5px!important;
  border-radius: 100%;
}

textarea.form-control{
  margin-top:0px!important;
  min-height: 34px!important;
}

.bg-gradient-warning{
  background: #bd9010;

}

.card-border-top-warning{
  border-top: 3px solid #f6c23e!important;
}

.card-border-top-dark{
  border-top: 3px solid #222;
}

.custom-control-input:checked~.custom-control-label::before{
  border-color: #bd9010;
  background:  #f6c23e;


}

.table-dark th{
  background: #0000008c!important;
}

.form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #c4d630;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(236, 206, 57, 0.25);
}

body{
  color:#222;
}



.btn{
  border:1px solid #222;

  
}

.btn-warning{
  color:#222;
  border:1px solid #222!important;
  /*background-color:transparent!important;*/
  color: #222!important;
  box-shadow: 1px 3px 2px #222;
}


.table td{
  color:#222;
}

.table-responsive>.table-bordered {
    width: max-content;
    min-width: 100%;
}

.table-responsive >.table-bordered th,.table-responsive>.table-bordered td{
  max-width: 300px!important;
}

.border-warning{
  border: 2px solid #f6c23e;
}

.padding-space{
  padding-top: 10px;
  padding-bottom: 10px;

}

.card-shadow{
  box-shadow: 1px 6px 1px #5e634352;
}

.badge{
  white-space: nowrap; 
  max-width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;
}